# Ambiente Virtual
venv/
myenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Editor directories and files
.vscode/
*.swp
*~

# Logs and databases
*.log
*.sql
*.sqlite3

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# PyInstaller
*.manifest
*.spec

# Local development files
.env
.local

# Sphinx documentation
docs/_build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
